html {
  height: 100%;
}
body {
  padding-top: 50px;
  height: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
}

div.starter-template > iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}